
.categorie-list
    //background: green
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .home-headline
        font-size: 30px
        padding-top: 20px
        font-family: "PT Serif", serif
    ul
        display: flex
        justify-content: center
        align-items: center
        list-style: none
        //background: red
        gap: 30px
        padding: 20px
        

        li
             margin: 20px 0px 20px 0px
             padding: 0
             cursor: pointer
             transition: opacity 0.3s, transform 0.3s
             border-radius: 50%
             width: 120px
             height: 120px
             text-align: center
             border: 1.5px solid var(--light-gray)
             font-weight: bold

             &:hover
                text-decoration: underline
                border: 2px solid transparent
                transform: scale(1.1)
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px

             &.active
                border: 2px solid transparent
                text-decoration: underline
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
                color: var(--orange)

                
        img
            opacity: 0.8
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 50%
            margin-bottom: 10px
            &:hover
                //border: 2px solid var(--orange)
                //color: var(--orange)
                // border: 2px solid transparent
                // transform: scale(1.1)
                // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px