.product-view
    // background: pink 
    display: flex
    flex-direction: column
    gap: 20px
    //flex-wrap: wrap
    // margin: 0px 150px 0px 150px
    margin: 0px 80px 0px 80px
    padding-bottom: 20px

    .product-details
      // background: gray
      .products-name
        font-size: 30px
        margin-bottom: 20px

      .products-page-info
        font-size: 15px
        
    .product-list
      //background: pink
      display: flex
      flex-direction: row
      flex-wrap: wrap
      gap: 20px
      .item-container
          //background: yellow
          border-radius: 10px
          display: flex
          flex-direction: column
          //border: 2px solid transparent
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
          gap: 5px
          
          .image
              img
                border-radius: 10px 10px 0 0
                width: 400px
                height: 300px
                // width: 300px
                // height: 200px
          .gallery-item-details
            display: flex
            flex-direction: row
            padding: 20px
            // background: red
            width: 400px
            .gallery-title
              //background: yellow
              font-size: 12px
              width: 80% 
              display: -webkit-box
              -webkit-box-orient: vertical
              -webkit-line-clamp: 2 
              overflow: hidden
              text-overflow: ellipsis
              white-space: normal 
              font-family: -apple-system, BlinkMacSystemFont, sans-serif
              margin: 10px
            .gallery-price
              //background: pink
              padding-left: 10px
              font-size: 20px
              width: 20% 
              display: flex
              align-items: center 
              justify-content: center
              color: var(--gray)
              font-weight: 700
              .price-value
                margin-left: 10px
                font-weight: 700
                font-size: 40px
                color: var(--dark-gray)



    .product-gallery-pagination
      //background: gray
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

.product-view-not-avilable
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 300px
  margin: 20px 150px 0px 150px
  // border: 1px solid var(--light-gray)
  // color: var(--gray)