.selected-product-container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin: 10px

    .product-image
        // background: var(--dark-orange)
        width: 50%
        height: 700px
    .product-description
        background: grey
        width: 50%
        height: 700px