.selected-product-container
    // background: grey
    display: flex
    flex-direction: row
    margin: 10px
.reviews-and-shipping
    margin: 10px
    // background: yellow
    display: flex
    flex-direction: row
    justify-content: center

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1200px) 
    .selected-product-container 
        .gallery-container
            // background: pink
            margin: 20px 0px 0px 100px
            .thumbnail-container
                margin-top: 10px
        .product-description
            margin: 20px 100px 0px 30px

    .reviews-and-shipping
        flex-direction: column-reverse
        align-items: center
        .product-review
            width: 80%
        .product-and-shipping-details
            width: 80%
        
@media (max-width: 1000px) 
    .selected-product-container 
        .gallery-container
            // background: pink
            margin: 20px 0px 0px 40px
            .thumbnail-container
                margin-top: 10px
        .product-description
            margin: 20px 40px 0px 30px

    // .reviews-and-shipping
@media (max-width: 900px) 
    .selected-product-container 
        flex-direction: column
        align-items: center
        .gallery-container
            // background: pink
            margin: 20px 0px 0px 0px
            width: 60%
            .thumbnail-container
                margin-top: 10px
        .product-description
            margin: 20px 0px 0px 30px
            width: 80%

    // .reviews-and-shipping

        
@media (max-width: 768px) 
    .selected-product-container 
        flex-direction: column
        align-items: center
        .gallery-container
            // background: pink
            margin: 20px 0px 0px 0px
        .product-description
            margin: 20px 0px 0px 0px

    .reviews-and-shipping
        flex-direction: column-reverse
        align-items: center
        .product-review
            width: 100%
        .product-and-shipping-details
            width: 100%
        






            
          
       
